nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(148, 54, 224);
  color: white;
  height: 43px;
}

nav ul li{
  list-style-type: none;
}

nav ul{
  display: flex;
  gap: 23px;
}

.logo{
  font-size: 20px;
  font-weight: bolder;
}

label{
  display: block;
}

form{
  text-align: center;
}

h1, h2{
  text-align: center;
}

input[type='text']{
  width: 30vw;
  height: 24px;
}

textarea{
  width: 30vw;
  height: 122px;
}

.card{
  width: 233px;
  height: 233px;
  background-color: rgb(54, 43, 105);
  color: white;
  font-weight: bold;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
}

.card .title{
  text-align: center;
  font-size: 22px;
}